
.icon-linkedin:before { content: '\50'; } /* 'P' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */